services:
  restserver:
    image: restic/rest-server:0.14.0
    container_name: restic-server
    hostname: restic-server
    labels:
      # Enable Traefik
      traefik.enable: true

      traefik.http.routers.restic-server.rule: Host(`restic.${CLUSTER_DOMAIN}`)
      traefik.http.routers.restic-server.entrypoints: websecure
      traefik.http.routers.restic-server.service: restic-server
      traefik.http.routers.restic-server.tls.certresolver: le
      traefik.http.services.restic-server.loadbalancer.server.port: 8000
    volumes:
      - /data/backup:/backup
      - /data/restic:/repos
    environment:
      DISABLE_AUTHENTICATION: 1
    networks:
      - dockge_default
    restart: unless-stopped
    dns:
      - 100.100.100.100
networks:
  dockge_default:
    external: true
x-dockge:
  urls:
    - https://restic.${CLUSTER_DOMAIN}
