services:
  zigbee2mqtt:
    container_name: zigbee2mqtt
    image: ghcr.io/koenkk/zigbee2mqtt:2.6.2@sha256:ffabf256f4550175278fbeebdbc3f174f2ffa005175e755324c5f06020af3e68
    restart: unless-stopped
    dns:
      - 100.100.100.100
    labels:
      tsdproxy.enable: false
      tsdproxy.ephemeral: true
      tsdproxy.name: ${APP}-${CLUSTER_KEY}

      # Enable Traefik
      traefik.enable: true

      # Zigbee2MQTT - HTTPS
      traefik.http.routers.zigbee.rule: Host(`${APP}.${searchDomain}`) || Host(`${APP}.as.${searchDomain}`)
      traefik.http.routers.zigbee.entrypoints: websecure
      traefik.http.routers.zigbee.tls.certresolver: le
      traefik.http.routers.zigbee.service: zigbee
      traefik.http.services.zigbee.loadbalancer.server.port: 8080
    volumes:
      - ./zigbee:/app/data
      - /run/udev:/run/udev:ro
    ports:
      - 8080:8080
    environment:
      TZ: America/New_York
    devices:
      - /dev/serial/by-id/usb-Silicon_Labs_HubZ_Smart_Home_Controller_C1301C21-if01-port0:/dev/zigbee
    networks:
      - dockge_default
networks:
  dockge_default:
    external: true
x-dockge:
  urls:
    - https://${APP}.${searchDomain}
