services:
  traefik:
    container_name: traefik
    image: ghcr.io/traefik/traefik:v3.6.4@sha256:beebe9d00a6f7cd8cf35581eb9c065d30d1ac0b961a5561fb106c64d10d8d76d
    restart: unless-stopped
    dns:
      - 100.100.100.100
    command:
      - --configfile=/config/config.yaml
      - --providers.file.watch=true
    labels:
      tsdproxy.enable: false
      tsdproxy.ephemeral: true
      tsdproxy.name: internal-${host}

      # Enable Traefik for itself
      traefik.enable: true
      # Dashboard configuration
      traefik.http.routers.dashboard.rule: Host(`internal.${CLUSTER_DOMAIN}`)
      traefik.http.routers.dashboard.middlewares: authentik-outpost@docker
      traefik.http.routers.dashboard.entrypoints: websecure,tailscale
      traefik.http.routers.dashboard.service: api@internal
      traefik.http.routers.dashboard.tls.certresolver: le

      traefik.http.routers.dashboard-tailscale.rule: Host(`internal-${host}.${tailscaleDomain}`)
      traefik.http.routers.dashboard-tailscale.entrypoints: tailscale
      traefik.http.routers.dashboard-tailscale.service: api@internal
      # Dockge
      traefik.http.routers.dockge.rule: Host(`dockge.${CLUSTER_DOMAIN}`)
      traefik.http.routers.dockge.middlewares: authentik-outpost@docker
      traefik.http.routers.dockge.entrypoints: websecure
      traefik.http.routers.dockge.tls.certresolver: le
      traefik.http.routers.dockge.service: dockge
      traefik.http.services.dockge.loadbalancer.server.url: http://${CLUSTER_DOMAIN}:5001
    env_file:
      - path: .env
    ports:
      - 80:80
      - 443:443
      - 5443:5443
      - 2022:2022/tcp
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./letsencrypt:/letsencrypt
      - ./config.yaml:/config/config.yaml
    networks:
      - dockge_default
x-dockge:
  urls:
    - https://internal.${CLUSTER_DOMAIN}
    - https://internal-${host}.${tailscaleDomain}
networks:
  dockge_default:
    external: true
