# yaml-language-server: $schema=https://json.schemastore.org/traefik-v3.json

# Traefik static configuration
global:
  checkNewVersion: true
  sendAnonymousUsage: false

# API and Dashboard configuration
api:
  dashboard: true
  insecure: false

log:
  level: INFO
  format: common
accessLog:
  format: common
  # Filter on status codes, retry attempts and minimal duration
  filters:
    statusCodes:
      - "200"
      - "300-302"
    retryAttempts: true
    minDuration: "10ms"

# Entry points configuration
entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"
    http:
      tls:
        certResolver: le
    transport:
      respondingTimeouts:
        readTimeout: "0s"
  tailscale:
    address: ":8443"
  sftp:
    address: ":2022"
  metrics:
    address: ":8082"

# Metrics configuration
metrics:
  prometheus:
    addEntryPointsLabels: true
    addRoutersLabels: true
    addServicesLabels: true
    buckets:
      - 0.1
      - 0.3
      - 1.0
      - 3.0
      - 5.0
    entryPoint: metrics

# Providers configuration
providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false

# Certificate resolvers configuration
certificatesResolvers:
  le:
    acme:
      email: "david.driscoll+${host}@gmail.com"
      storage: "/letsencrypt/acme.json"
      dnsChallenge:
        provider: cloudflare

  cloudflare:
    acme:
      caServer: "https://acme-staging-v02.api.letsencrypt.org/directory"
      email: "david.driscoll+${host}@gmail.com"
      storage: "/letsencrypt/acme.json"
      dnsChallenge:
        provider: cloudflare
