services:
  backrest:
    image: garethgeorge/backrest:v1.10.1@sha256:1308397161321b3c5aeca8acc6bf26eccb990df385f2532d3ce0eaa8b483dedf
    container_name: backrest
    hostname: backrest
    tmpfs: /tmp
    labels:
      tsdproxy.enable: false
      tsdproxy.ephemeral: true
      tsdproxy.name: ${APP}-${CLUSTER_KEY}

      # Enable Traefik
      traefik.enable: true

      traefik.http.routers.backrest.rule: Host(`backrest.${CLUSTER_DOMAIN}`)
      traefik.http.routers.backrest.middlewares: authentik-outpost@docker
      traefik.http.routers.backrest.entrypoints: websecure
      traefik.http.routers.backrest.service: backrest
      traefik.http.routers.backrest.tls.certresolver: le
      traefik.http.services.backrest.loadbalancer.server.port: 9898
    volumes:
      - ./data:/data
      - ./config:/config
      - ./cache:/cache
      - ./rclone:/root/.config/rclone
      - /data/backup:/backup
      - /data/restic:/repos
      - spike-backup:/spike/backup:ro
      - spike-data:/spike/data:ro
    environment:
      - BACKREST_DATA=/data
      - BACKREST_CONFIG=/config/config.json
      - XDG_CACHE_HOME=/cache
      - TMPDIR=/tmp
      - TZ=${TZ}
    networks:
      - dockge_default
    restart: unless-stopped
networks:
  dockge_default:
    external: true
x-dockge:
  urls:
    - https://backrest.${CLUSTER_DOMAIN}
volumes:
  spike-backup:
    driver: local
    driver_opts:
      type: "nfs"
      o: "addr=10.10.10.10,rw,nfsvers=4"
      device: ":/mnt/stash/backup/"
  spike-data:
    driver: local
    driver_opts:
      type: "nfs"
      o: "addr=10.10.10.10,rw,nfsvers=4"
      device: ":/mnt/stash/data/"
