kubernetes-shining-armor.yaml
kubernetes-flurry-heart.yaml
kubernetes-marble-pie.yaml
kubernetes-limestone-pie.yaml
kubernetes-pharynx.yaml
kubernetes-ember.yaml
talosconfig
equestria-shining-armor.yaml
equestria-flurry-heart.yaml
equestria-marble-pie.yaml
equestria-limestone-pie.yaml
equestria-pharynx.yaml
equestria-ember.yaml
equestria-fluttershy.yaml
equestria-kerfuffle.yaml
equestria-hard-hat.yaml
equestria-pinkie-pie.yaml
