version: "3.8"
services:
  rclone:
    image: master@sha256:0701d73d006e6987beb4450edea7089a4b92a45849b153845a2b3d9cb9ee7525
    container_name: rclone
    hostname: rclone
    tmpfs: /tmp
    labels:
      tsdproxy.enable: false
      tsdproxy.ephemeral: true
      tsdproxy.name: ${APP}-${CLUSTER_KEY}

      # Enable Traefik
      traefik.enable: true

      traefik.http.routers.rclone.rule: Host(`rclone.${CLUSTER_DOMAIN}`)
      traefik.http.routers.rclone.middlewares: authentik-outpost@docker
      traefik.http.routers.rclone.entrypoints: websecure
      traefik.http.routers.rclone.service: rclone
      traefik.http.routers.rclone.tls.certresolver: le
      traefik.http.services.rclone.loadbalancer.server.port: 9898
    volumes:
      - /data/backup:/backup
      - /data/restic:/repos
    environment:
      - TZ=${TZ}
    command:
      - rclone
      - rcd
      - --rc-web-gui
      - --rc-web-gui-no-open-browser
      - --rc-baseurl rclone.${CLUSTER_DOMAIN}
      - --rc-addr=:9898
      - --rc-user "op://Eris/RClone Web UI/username"
      - --rc-pass "op://Eris/RClone Web UI/password"
    networks:
      - dockge_default
    restart: unless-stopped
networks:
  dockge_default:
    external: true
x-dockge:
  urls:
    - https://rclone.${CLUSTER_DOMAIN}
