services:
  playground:
    image: mcr.microsoft.com/dotnet/sdk:10.0
    volumes:
      - ./:/workspace
      - ./keys:/keys:ro
      - /data/backup:/data/backup:rw
      - /data/restic:/data/restic:rw
      - spike-backup:/spike/backup:ro
      - spike-data:/spike/data:ro
    working_dir: /workspace
    restart: unless-stopped
    dns:
      - 100.100.100.100
    command: dotnet run Playground.cs
    environment:
      - DOTNET_CLI_TELEMETRY_OPTOUT=1
      - DOTNET_NOLOGO=1
    env_file:
      - .env
    cpus: 2

volumes:
  spike-backup:
    driver: local
    driver_opts:
      type: "nfs"
      o: "addr=10.10.10.10,rw,nfsvers=4"
      device: ":/mnt/stash/backup/"
  spike-data:
    driver: local
    driver_opts:
      type: "nfs"
      o: "addr=10.10.10.10,rw,nfsvers=4"
      device: ":/mnt/stash/data/"
