# Remote write to Stargate Command Thanos
remote_write:
  - url: http://thanos-receive.${tailscaleDomain}:19291/api/v1/receive
    queue_config:
      capacity: 10000
      max_shards: 5
      min_shards: 1
      max_samples_per_send: 5000
      batch_send_deadline: 5s
      min_backoff: 30ms
      max_backoff: 5s
