services:
  adguard:
    cpus: 2
    restart: unless-stopped
    dns:
      - 100.100.100.100
    image: rostislavdugin/postgresus:v2.15.3@sha256:cabf722849a193be5351fe0d189f5baef40fa3b01ddd73d6083600a68a392672
    environment:
      TZ: ${TIMEZONE}
    labels:
      # Enable Traefik
      traefik.enable: true

      # Web UI routing (HTTPS)
      traefik.http.routers.${APP}.rule: Host(`${APP}.${searchDomain}`)
      traefik.http.routers.${APP}.entrypoints: websecure
      traefik.http.routers.${APP}.tls.certresolver: le
      traefik.http.routers.${APP}.service: ${APP}

      traefik.http.routers.${APP}-tailscale.rule: Host(`${APP}.${tailscaleDomain}`)
      traefik.http.routers.${APP}-tailscale.entrypoints: tailscale
      traefik.http.routers.${APP}-tailscale.service: ${APP}

      traefik.http.services.${APP}.loadbalancer.server.port: 4005
    volumes:
      - ./postgresus-data:/postgresus-data
    networks:
      - dockge_default
networks:
  dockge_default:
    external: true
x-dockge:
  urls:
    - https://${APP}.${searchDomain}
