services:
  rclone-sftp:
    container_name: rclone-sftp
    image: rclone/rclone:latest
    restart: unless-stopped
    dns:
      - 100.100.100.100
    env_file:
      - path: .env
    command: >-
      serve sftp ${DATA_ROOT}
      --addr :${SFTP_PORT}
      --authorized-keys /config/ssh/authorized_keys
      --key /config/ssh/host_key
    volumes:
      - ${DATA_ROOT}:${DATA_ROOT}:rw
      - ./keys:/config/ssh:ro
    networks:
      - dockge_default
    labels:
      traefik.enable: true
      traefik.tcp.routers.rclone-sftp.rule: HostSNI(`*`)
      traefik.tcp.routers.rclone-sftp.entrypoints: sftp
      traefik.tcp.services.rclone-sftp.loadbalancer.server.port: 2022

networks:
  dockge_default:
    external: true
